<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="false">

    <!-- 提供者基础配置 -->
    <dubbo:application name="dubbo-provider"></dubbo:application>

    <!-- 扫描接口实现类 -->
    <dubbo:annotation package="examsys.logic.service.impl.*"/>

    <!-- 注册中心配置 -->
    <dubbo:registry
            protocol="zookeeper"
            address="127.0.0.1"
            port="2181"
            check="false"
            subscribe="false"/>

    <!-- 提供者服务接口 -->
    <dubbo:service
            interface="examsys.base.service.ILogService"
            ref="logService"/>
</beans>